ONSETTO_CHALLENGE_URL=https://challenge.onsetto.dev
ONSETTO_API_BASE_URL=https://zvyhufnwclhcvmgtqxwp.supabase.co/functions/v1/api-v1

ONSETTO_EMAIL=
ONSETTO_PASSWORD=
ONSETTO_MFA_CODE=

ONSETTO_BANK_ROUTING=021000021
ONSETTO_BANK_ACCOUNT=1234567890
ONSETTO_CARDHOLDER_NAME=Test User
ONSETTO_CARD_NUMBER=4242424242424242
ONSETTO_CARD_EXP_MONTH=12
# ONSETTO_CARD_EXP_YEAR=
ONSETTO_CARD_CVC=123
